In [8]:
with open('C:/Users/karagiag/aapl.csv','r') as f:
    for _ in range(5):
        print(f.readline())

Date,Open,High,Low,Close,Adj Close,Volume

2017-05-08,149.029999,153.699997,149.029999,153.009995,153.009995,48752400

2017-05-09,153.869995,154.880005,153.449997,153.990005,153.990005,39130400

2017-05-10,153.630005,153.940002,152.110001,153.259995,153.259995,25805700

2017-05-11,152.449997,154.070007,152.309998,153.949997,153.949997,27255100

In [9]:
import csv

In [32]:
csv_reader = csv.DictReader(open('C:/Users/karagiag/aapl.csv','r'))

In [33]:
for row in csv_reader:
    print row

{'Volume': '48752400', 'Adj Close': '153.009995', 'High': '153.699997', 'Low': '149.029999', 'Date': '2017-05-08', 'Close': '153.009995', 'Open': '149.029999'}
{'Volume': '39130400', 'Adj Close': '153.990005', 'High': '154.880005', 'Low': '153.449997', 'Date': '2017-05-09', 'Close': '153.990005', 'Open': '153.869995'}
{'Volume': '25805700', 'Adj Close': '153.259995', 'High': '153.940002', 'Low': '152.110001', 'Date': '2017-05-10', 'Close': '153.259995', 'Open': '153.630005'}
{'Volume': '27255100', 'Adj Close': '153.949997', 'High': '154.070007', 'Low': '152.309998', 'Date': '2017-05-11', 'Close': '153.949997', 'Open': '152.449997'}
{'Volume': '32527000', 'Adj Close': '156.100006', 'High': '156.419998', 'Low': '154.669998', 'Date': '2017-05-12', 'Close': '156.100006', 'Open': '154.699997'}
{'Volume': '26009700', 'Adj Close': '155.699997', 'High': '156.649994', 'Low': '155.050003', 'Date': '2017-05-15', 'Close': '155.699997', 'Open': '156.009995'}
{'Volume': '20048500', 'Adj Close': '155.470001', 'High': '156.059998', 'Low': '154.720001', 'Date': '2017-05-16', 'Close': '155.470001', 'Open': '155.940002'}
{'Volume': '50767700', 'Adj Close': '150.250000', 'High': '154.570007', 'Low': '149.710007', 'Date': '2017-05-17', 'Close': '150.250000', 'Open': '153.600006'}
{'Volume': '33568200', 'Adj Close': '152.539993', 'High': '153.339996', 'Low': '151.130005', 'Date': '2017-05-18', 'Close': '152.539993', 'Open': '151.270004'}
{'Volume': '26960800', 'Adj Close': '153.059998', 'High': '153.979996', 'Low': '152.630005', 'Date': '2017-05-19', 'Close': '153.059998', 'Open': '153.380005'}
{'Volume': '22966400', 'Adj Close': '153.990005', 'High': '154.580002', 'Low': '152.910004', 'Date': '2017-05-22', 'Close': '153.990005', 'Open': '154.000000'}
{'Volume': '19918900', 'Adj Close': '153.800003', 'High': '154.899994', 'Low': '153.309998', 'Date': '2017-05-23', 'Close': '153.800003', 'Open': '154.899994'}
{'Volume': '19178000', 'Adj Close': '153.339996', 'High': '154.169998', 'Low': '152.669998', 'Date': '2017-05-24', 'Close': '153.339996', 'Open': '153.839996'}
{'Volume': '19235600', 'Adj Close': '153.869995', 'High': '154.350006', 'Low': '153.029999', 'Date': '2017-05-25', 'Close': '153.869995', 'Open': '153.729996'}
{'Volume': '21927600', 'Adj Close': '153.610001', 'High': '154.240005', 'Low': '153.309998', 'Date': '2017-05-26', 'Close': '153.610001', 'Open': '154.000000'}
{'Volume': '20126900', 'Adj Close': '153.669998', 'High': '154.429993', 'Low': '153.330002', 'Date': '2017-05-30', 'Close': '153.669998', 'Open': '153.419998'}
{'Volume': '24451200', 'Adj Close': '152.759995', 'High': '154.169998', 'Low': '152.380005', 'Date': '2017-05-31', 'Close': '152.759995', 'Open': '153.970001'}
{'Volume': '16404100', 'Adj Close': '153.179993', 'High': '153.330002', 'Low': '152.220001', 'Date': '2017-06-01', 'Close': '153.179993', 'Open': '153.169998'}
{'Volume': '27661800', 'Adj Close': '155.449997', 'High': '155.449997', 'Low': '152.889999', 'Date': '2017-06-02', 'Close': '155.449997', 'Open': '153.580002'}
{'Volume': '13434674', 'Adj Close': '153.740005', 'High': '154.449997', 'Low': '153.460007', 'Date': '2017-06-05', 'Close': '153.740005', 'Open': '154.410004'}

In [34]:
import pandas as pd

In [35]:
data = pd.read_csv('C:/Users/karagiag/aapl.csv', index_col=0, parse_dates=True)

In [36]:
data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2017-05-08,149.029999,153.699997,149.029999,153.009995,153.009995,48752400
2017-05-09,153.869995,154.880005,153.449997,153.990005,153.990005,39130400
2017-05-10,153.630005,153.940002,152.110001,153.259995,153.259995,25805700
2017-05-11,152.449997,154.070007,152.309998,153.949997,153.949997,27255100
2017-05-12,154.699997,156.419998,154.669998,156.100006,156.100006,32527000
2017-05-15,156.009995,156.649994,155.050003,155.699997,155.699997,26009700
2017-05-16,155.940002,156.059998,154.720001,155.470001,155.470001,20048500
2017-05-17,153.600006,154.570007,149.710007,150.250000,150.250000,50767700
2017-05-18,151.270004,153.339996,151.130005,152.539993,152.539993,33568200
2017-05-19,153.380005,153.979996,152.630005,153.059998,153.059998,26960800
2017-05-22,154.000000,154.580002,152.910004,153.990005,153.990005,22966400
2017-05-23,154.899994,154.899994,153.309998,153.800003,153.800003,19918900
2017-05-24,153.839996,154.169998,152.669998,153.339996,153.339996,19178000
2017-05-25,153.729996,154.350006,153.029999,153.869995,153.869995,19235600
2017-05-26,154.000000,154.240005,153.309998,153.610001,153.610001,21927600
2017-05-30,153.419998,154.429993,153.330002,153.669998,153.669998,20126900
2017-05-31,153.970001,154.169998,152.380005,152.759995,152.759995,24451200
2017-06-01,153.169998,153.330002,152.220001,153.179993,153.179993,16404100
2017-06-02,153.580002,155.449997,152.889999,155.449997,155.449997,27661800
2017-06-05,154.410004,154.449997,153.460007,153.740005,153.740005,13434674

In [37]:
data['Close'].mean()

153.73699875

In [38]:
data.to_excel('C:/Users/karagiag/aapl.xlsx')

In [5]:
import numpy as np
import pandas as pd

In [20]:
data = pd.DataFrame(np.random.randn(1000,4),columns=list('ABCD'))

In [21]:
data.head()

          A         B         C         D
0 -0.186180  0.278755 -1.040224  0.533769
1 -0.138350  1.114036  0.981569  2.293766
2  1.356303 -1.336675 -0.943001  0.786497
3 -0.016640 -0.730951  0.129630 -0.677982
4 -1.410768 -0.528835  0.661868  0.210347

In [22]:
import sqlite3 as sq3

In [49]:
con=sq3.connect('data.sql')

In [50]:
data.to_sql('data',con)

In [60]:
query = 'SELECT * FROM data WHERE A>0.99 and B>0.99'

In [61]:
res=con.execute(query).fetchall()

In [62]:
len(res)

26