In [156]:
import pandas as pd
import glob
import os

import sys
sys.path.append(R'\\uk\data\prod\public\FRTB\codebase')
from quant_utils import rds

#import numba

In [161]:
rds.mssql("""

select top 10 * from ROS..risk_sens
""")

#@numba.jit
#def f():
#    sdbsdfbjndvfkx


a  = range(9,109)
b = pd.np.random.randint(0, 10, 100)

In [166]:
A = ['a', 'b', 'c']

B = [[1, 2], [2, 3], [3,4,5,6]]

In [169]:
[[a] + B for a in A]

[['a', [1, 2], [2, 3], [3, 4, 5, 6]],
 ['b', [1, 2], [2, 3], [3, 4, 5, 6]],
 ['c', [1, 2], [2, 3], [3, 4, 5, 6]]]

In [3]:
input_path = 'C:/Users/karagiag/Participants/'

In [53]:
f = open(fn)
header = f.readlines()[3].replace('\n', '').split(',')

In [61]:
files = []

for file_name in glob.glob(os.path.join(input_path,'*.csv')):
    data = pd.read_csv(input_file, skiprows=4, names=header)
    data['file_name'] = file_name
    files.append(data)

tbl = pd.concat(files)

In [136]:
import RiskFabricPandas as fab

In [138]:
import sqlite3 as db

In [139]:
conn= db.connect(r'H:\test.db')

In [192]:
good_data.to_sql('T', conn)

ValueError: Table 'T' already exists.

In [194]:
pd.read_sql(""" 

select participant_id, avg(RT) from T

where T.correct = 1
group by participant_id
""", conn)

   participant_id      avg(RT)
0            01LC   805.982906
1            03LC   798.447005
2            04lc  1013.435556
3            05LC   591.250000
4            06LC   587.191304
5            07LC   580.519149
6            08LC   607.381356
7            09CL   713.513393
8            10LC   763.778846
9            11LC   775.669683
10           12LC  1788.560345
11           13LC   585.938326
12           14LC   672.388889
13           15LC   755.603448
14           16LC   801.407407
15           17LC   462.543379
16            AP2   605.173729
17            AP3  1141.616438
18            AP6  1488.550000
19            AP7  1036.367965
20           MP01  1208.396552
21           MP03   714.683258
22           MP04   873.634703
23           MP05   781.797297
24         MP0620   644.008811
25           MP07   452.979167
26           MP08   590.026201
27           MP09   701.077253
28           MP10   707.938596
29           MP11   535.555556
..            ...          ...
34           SB12   705.597222
35            SB2   569.476793
36            SB4   691.438596
37            SB7   698.417040
38            SB8   568.609865
39            SB9   777.557018
40            Sb3  1075.784404
41            ZK1   535.681034
42           ZK10   885.048035
43           ZK11   667.903930
44           ZK12   527.607759
45           ZK13  1707.952381
46           ZK14   648.469828
47           ZK15   917.750000
48           ZK16   917.474359
49            ZK2  1019.646288
50            ZK3   694.796610
51            ZK4   664.362445
52            ZK5   880.829060
53            ZK6   624.836364
54            ZK7   514.948276
55            ZK8  1187.650862
56            ZK9  1099.908654
57            ap1   644.781116
58            ap4   641.909091
59            ap5  1255.144737
60          l02LC  1254.965368
61           mpo2   889.821739
62            sb5   695.940092
63            sb6   650.410256

[64 rows x 2 columns]

In [176]:
good_data = []

for file_name in glob.glob(os.path.join(input_path,'*.csv')):
    f = open(file_name)
    lines = f.readlines()
    data = pd.DataFrame(map(lambda x: x.replace('\n', '').split(','), lines[4:]), columns=lines[3].replace('\n', '').split(','))
    
    participant_id = file_name.split('\\')[-1].split('_')[1]
    
    d = data.convert_objects(convert_numeric=True)
    d['participant_id'] = participant_id
    
    condition1 = d[d.correct == 1].RT.mean() + 3 * d[d.correct == 1].RT.std()
    condition2 = d[d.correct == 1].RT.mean() - 3 * d[d.correct == 1].RT.std()
    
    good_data.append(d[(d.RT < condition1) & (d.RT > condition2) & (d.correct == 1)])

good_data = pd.concat(good_data)

In [191]:
good_data.pivot_table(index=['participant_id'], columns=['condition2'], values='RT', aggfunc='mean').to_clipboard()

In [190]:
(good_data.pivot_table(index=['participant_id'], columns=['condition2'], values='RT', aggfunc='mean')).to_clipboard

<bound method DataFrame.to_clipboard of condition2       Happy_Blue   Happy_Grey    Happy_Red     Sad_Blue  \
participant_id
01LC             825.900000   805.725000   794.100000   831.621622
03LC             751.769231   739.297297   813.315789   812.589744
04lc             944.085714  1430.743590   914.081081   872.500000
05LC             609.025641   614.102564   591.578947   571.205128
06LC             576.666667   564.263158   591.578947   613.692308
07LC             575.000000   568.230769   599.307692   574.717949
08LC             641.400000   605.230769   624.923077   560.875000
09CL             735.405405   731.285714   745.026316   713.175000
10LC             669.888889   787.542857   742.485714   748.055556
11LC             756.542857   760.705882   858.594595   776.589744
12LC            1378.358974  1853.950000  1536.307692  2137.447368
13LC             564.184211   552.459459   551.125000   639.750000
14LC             656.324324   681.131579   711.325000   639.200000
15LC             728.666667   739.205128   717.153846   791.605263
16LC             855.529412   851.944444   823.909091   758.837838
17LC             455.135135   460.631579   437.000000   474.555556
AP2              627.625000   596.846154   595.794872   622.948718
AP3             1171.868421  1131.555556  1142.857143  1191.216216
AP6             1569.184211  1326.000000  1269.512821  1502.542857
AP7             1002.230769  1143.166667  1032.743590  1090.564103
MP01            1036.975000  1119.153846  1147.000000  1370.282051
MP03             727.147059   752.147059   758.735294   701.200000
MP04             877.175000   779.225000   832.743590   989.777778
MP05             773.648649   756.526316   753.487179   809.527778
MP0620           654.657895   636.076923   683.894737   616.486486
MP07             456.636364   438.034483   456.235294   478.655172
MP08             607.410256   598.473684   574.950000   584.694444
MP09             707.500000   670.282051   718.435897   707.078947
MP10             651.179487   577.333333   776.717949   721.108108
MP11             546.450000   552.275000   554.763158   526.763158
...                     ...          ...          ...          ...
SB12             711.076923   690.027027   681.088235   740.029412
SB2              560.375000   568.175000   564.300000   567.871795
SB4              741.461538   666.230769   647.972222   671.230769
SB7              728.837838   678.297297   680.000000   729.973684
SB8              541.763158   564.736842   586.810811   585.500000
SB9              737.594595   765.210526   890.512821   772.055556
Sb3             1009.567568  1039.342105  1088.125000  1024.264706
ZK1              540.578947   552.621622   555.475000   511.763158
ZK10             814.179487   812.594595   899.275000   911.447368
ZK11             619.250000   658.282051   606.131579   706.555556
ZK12             541.342105   530.157895   516.205128   518.743590
ZK13            1801.314286  1886.916667  1936.416667  1640.482759
ZK14             650.157895   658.850000   622.350000   662.923077
ZK15             898.282051   947.600000   923.538462   876.236842
ZK16             965.750000   959.179487   921.846154   868.666667
ZK2              899.459459   921.868421   968.243243  1082.850000
ZK3              693.425000   708.100000   694.025641   685.871795
ZK4              627.051282   691.368421   674.578947   660.297297
ZK5              836.526316   835.025000   894.200000   894.325000
ZK6              637.676471   642.676471   610.941176   598.025641
ZK7              518.948718   520.333333   513.102564   493.157895
ZK8             1094.225000  1147.702703  1093.564103  1350.125000
ZK9             1149.970588  1028.972973  1169.742857  1131.870968
ap1              597.225000   639.175000   631.525000   674.184211
ap4              633.050000   610.947368   628.552632   648.777778
ap5             1468.305556  1442.820513  1262.947368  1187.131579
l02LC           1183.875000  1210.540541  1188.750000  1369.894737
mpo2             862.162162   881.333333   944.769231   851.157895
sb5              685.078947   655.868421   675.538462   767.333333
sb6              629.800000   632.394737   654.564103   690.750000

condition2         Sad_Grey      Sad_Red
participant_id
01LC             745.307692   835.105263
03LC             873.151515   812.225806
04lc             983.833333   919.675000
05LC             598.384615   562.473684
06LC             587.131579   589.394737
07LC             578.512821   587.175000
08LC             583.820513   628.358974
09CL             676.162162   680.162162
10LC             826.500000   817.750000
11LC             755.473684   745.184211
12LC            1953.307692  1884.162162
13LC             615.729730   591.742857
14LC             683.850000   661.461538
15LC             764.179487   794.736842
16LC             751.717949   777.378378
17LC             467.500000   483.323529
AP2              588.692308   598.725000
AP3             1100.500000  1109.567568
AP6             1761.441176  1535.162162
AP7              909.875000  1051.473684
MP01            1341.783784  1250.135135
MP03             673.700000   688.615385
MP04             856.750000   923.281250
MP05             786.594595   815.800000
MP0620           619.971429   650.225000
MP07             459.666667   430.529412
MP08             597.153846   577.000000
MP09             696.567568   706.225000
MP10             736.263158   776.384615
MP11             522.947368   510.025000
...                     ...          ...
SB12             729.647059   684.736842
SB2              577.205128   579.333333
SB4              717.861111   702.564103
SB7              680.027778   692.184211
SB8              576.000000   555.441176
SB9              792.325000   702.552632
Sb3             1136.029412  1162.771429
ZK1              515.600000   538.435897
ZK10             913.270270   959.473684
ZK11             700.205128   722.432432
ZK12             539.153846   520.461538
ZK13             968.500000  1768.931034
ZK14             649.631579   647.324324
ZK15             938.325000   920.100000
ZK16             864.205128   924.131579
ZK2             1075.350000  1163.108108
ZK3              694.615385   692.435897
ZK4              622.027027   708.300000
ZK5              914.256410   911.567568
ZK6              641.800000   619.615385
ZK7              507.102564   537.052632
ZK8             1129.513514  1303.974359
ZK9             1082.297297  1045.176471
ap1              693.684211   636.162162
ap4              696.000000   633.950000
ap5             1253.794872   922.184211
l02LC           1291.750000  1291.075000
mpo2             914.820513   882.078947
sb5              693.406250   703.058824
sb6              636.947368   656.692308

[64 rows x 6 columns]>