In [41]:
from sklearn import linear_model
import numpy as np
import pandas as pd

In [5]:
x=np.arange(12)

In [6]:
lags=3

In [9]:
m = np.zeros((lags+1,len(x)-lags))

In [10]:
for i in range(lags + 1):
    if i == lags:
        m[i] = x[i:]
    else:
        m[i] = x[i:i - lags]

In [11]:
lm= linear_model.LinearRegression()

In [12]:
lm.fit(m[:lags].T,m[lags])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [14]:
lm.coef_

array([ 0.33333333,  0.33333333,  0.33333333])

In [15]:
lm.intercept_

2.0000000000000018

In [16]:
lm.predict(m[:lags].T)

array([  3.,   4.,   5.,   6.,   7.,   8.,   9.,  10.,  11.])

In [23]:
lm.score(m[:lags].T,m[lags])

1.0

In [ ]:
# Logistic Function

In [24]:
hours = np.array([0.5, 0.75, 1., 1.25, 1.5, 1.75, 1.75, 2., 2.25, 2.5, 2.75, 3., 3.25, 3.5, 4., 4.25,4.5, 4.75, 5., 5.5])

In [25]:
success = np.array([0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1,
                            0, 1, 1, 1, 1, 1, 1])

In [26]:
import matplotlib.pyplot as plt

In [28]:
plt.plot(hours,success,'ro')
plt.ylim(-0.2,1.2)
plt.show()

In [36]:
hrs = hours.reshape(1,-1).T

In [37]:
lm = linear_model.LogisticRegression()

In [38]:
lm.fit(hrs,success)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [39]:
prediction = lm.predict(hrs)

In [40]:
plt.plot(hours,success,'ro')
plt.plot(hours,prediction,'b')
plt.ylim(-0.2,1.2)
plt.show()

In [ ]:
#Using Logistic Regression to Predict Market Direction

In [50]:
data = pd.read_csv('C:/Users/karagiag/Downloads/aapl.csv',index_col=0,parse_dates=True)

In [55]:
data

              Open    High     Low   Close     Volume
﻿Date
2016-12-30  116.65  117.20  115.43  115.82   30586265
2016-12-29  116.45  117.11  116.40  116.73   15039519
2016-12-28  117.52  118.02  116.20  116.76   20905892
2016-12-27  116.52  117.80  116.49  117.26   18296855
2016-12-23  115.59  116.52  115.59  116.52   14249484
2016-12-22  116.35  116.51  115.64  116.29   26085854
2016-12-21  116.80  117.40  116.78  117.06   23783165
2016-12-20  116.74  117.50  116.68  116.95   21424965
2016-12-19  115.80  117.38  115.75  116.64   27779423
2016-12-16  116.47  116.50  115.64  115.97   44351134
2016-12-15  115.38  116.73  115.23  115.82   46524544
2016-12-14  115.04  116.20  114.98  115.19   34031834
2016-12-13  113.84  115.92  113.75  115.19   43733811
2016-12-12  113.29  115.00  112.49  113.30   26374377
2016-12-09  112.31  114.70  112.31  113.95   34402627
2016-12-08  110.86  112.43  110.60  112.12   27068316
2016-12-07  109.26  111.19  109.16  111.03   29998719
2016-12-06  109.50  110.36  109.19  109.95   26195462
2016-12-05  110.00  110.03  108.25  109.11   34324540
2016-12-02  109.17  110.09  108.85  109.90   26527997
2016-12-01  110.36  110.94  109.03  109.49   37086862
2016-11-30  111.60  112.20  110.27  110.52   36162258
2016-11-29  110.78  112.03  110.07  111.46   28528750
2016-11-28  111.43  112.46  111.39  111.57   27193983
2016-11-25  111.47  111.87  110.95  111.79   11475922
2016-11-23  111.36  111.51  110.33  111.23   27426394
2016-11-22  111.95  112.42  111.40  111.80   25965534
2016-11-21  110.12  111.99  110.01  111.73   29264571
2016-11-18  109.72  110.54  109.66  110.06   28428917
2016-11-17  109.81  110.35  108.83  109.95   26964598
...            ...     ...     ...     ...        ...
2011-02-14   50.97   51.35   50.96   51.31   77603491
2011-02-11   50.68   51.11   50.51   50.98   91892948
2011-02-10   51.06   51.43   49.71   50.65  232137360
2011-02-09   50.74   51.29   50.70   51.17  120686090
2011-02-08   50.53   50.79   50.31   50.74   95259906
2011-02-07   49.70   50.46   49.66   50.27  121254910
2011-02-04   49.09   49.53   49.07   49.50   80459575
2011-02-03   49.11   49.18   48.36   49.06   98449148
2011-02-02   49.21   49.32   49.08   49.19   64738807
2011-02-01   48.76   49.38   48.71   49.29  106657943
2011-01-31   47.97   48.58   47.76   48.47   94311602
2011-01-28   49.17   49.20   47.65   48.01  148014146
2011-01-27   49.11   49.24   48.98   49.03   71255961
2011-01-26   48.99   49.37   48.79   49.12  126716779
2011-01-25   48.05   48.78   47.80   48.77  136716650
2011-01-24   46.70   48.21   46.67   48.21  143670548
2011-01-21   47.68   47.84   46.66   46.67  188599712
2011-01-20   48.06   48.33   47.16   47.53  191197293
2011-01-19   49.76   49.80   48.13   48.41  283902199
2011-01-18   47.07   49.25   46.57   48.66  470246700
2011-01-14   49.41   49.78   49.21   49.78   77209748
2011-01-13   49.31   49.52   49.12   49.38   74536182
2011-01-12   49.04   49.20   48.86   49.20   75644310
2011-01-11   49.27   49.28   48.50   48.81  111019993
2011-01-10   48.40   49.03   48.17   48.92  112139482
2011-01-07   47.71   48.05   47.41   48.02   77982212
2011-01-06   47.82   47.89   47.56   47.68   75106626
2011-01-05   47.08   47.76   47.07   47.71   63879193
2011-01-04   47.49   47.50   46.88   47.33   77337001
2011-01-03   46.52   47.18   46.41   47.08  111280407

[1510 rows x 5 columns]

In [56]:
data.rename(columns={'Close':'price'},inplace=True)

In [57]:
data['returns']= np.log(data['price']/data['price'].shift(1))

In [58]:
data.dropna(inplace=True)

In [59]:
lags=3

In [62]:
m = np.zeros((lags + 1, len(data) - lags))

In [63]:
for i in range (lags+1):
    if i==lags:
        m[i]= data.returns.values[i:]
    else:
        m[i]= data.returns.values[i:i - lags]

In [66]:
from sklearn import linear_model

In [67]:
lm = linear_model.LogisticRegression(C=1e3)